.App {
  text-align: center;
  margin: 10px 30px;
}

.navigation {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 80px;
}

.navigation a:hover {
  color: var(--chakra-colors-gray-400);
}

.navigation a.active {
  font-weight: 700;
}